{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

	<section class="h-screen m-6 py-11 px-8 mx-auto  grid grid-cols-4 grid-rows-4 gap-8">
    

		<div class="bg-light-gray shadow-md text-white text-center col-span-2 row-span-2">
			<div class="bg-slate-200 h-[9vh] flex justify-center items-center">
				<h1 class="text-gray-950 font-bold uppercase text-center">Réinitialiser votre mot de passe</h1>
			</div>
		</div>
		<div class="bg-light-gray shadow-md text-white text-center  col-span-1 row-span-4">
			<div class="bg-slate-200 h-[9vh]"></div>
		</div>
		<div class="bg-light-gray shadow-md text-white text-center  col-span-1 row-span-4">
			<div class="bg-slate-200 h-[9vh]"></div>
		</div>
		<div class="bg-light-gray shadow-md text-white text-center  col-span-2 row-span-2">
			<div class="bg-slate-200 h-[9vh]"></div>
		</div>


	</section>


{% endblock %}
